#header {
	background-color: black;
	color: white;
	height: 120px;
	text-align: center;
}
#bannerTitle {
	margin-bottom: -20px;
	margin-top: 0px;
}
.bannerSubtitle {
	margin-bottom: -20px;
	margin-top: 15px;
	font-size: 16px;
}
table {
	margin: auto;
	width: 50%;
	height: 100px;
	width: 100%;
}

a {
	margin: auto;
}

body {
	background-image: url(winterBG2018.jpg);
	background-size: cover;
}

img { 
	width: 100px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

td {
	text-align: center;
	font-size: 16pt;
	font-family: calibri;
	vertical-align: middle;
}

th {
	background-color: #c0c0c0;
	font-size: 16pt;
	font-family: calibri;
	width: 33%;
}

#imageColumn {
	width: 10%;
}

#titleColumn {
	width: 25%;
}

#platformColumn {
	width: 10%;
}

#statusColumn {
	width: 10%;
}

#ratingColumn {
	width: 4%;
}

#hoursColumn {
	width: 4%;
}

#obtainedColumn {
	width: 8%;
}

#startDateColumn {
	width: 8%;
}

#endDateColumn {
	width: 8%;
}

#notesColumn {
	
}