#header {
	background-color: black;
	color: white;
	height: 120px;
	text-align: center;
}
#bannerTitle {
	margin-bottom: -20px;
	margin-top: 0px;
	font-family: "Century Gothic";
	font-style: italic;
	font-weight: 500;
	font-variant: small-caps;
}
.bannerSubtitle {
	margin-bottom: -20px;
	margin-top: 15px;
	font-size: 16px;
	font-family: "Century Gothic";
	font-variant: normal;
}
table {
	margin: auto;
	width: 90%;
	height: 100px;
	border: 1px solid black;
}

td {
	text-align: center;
    border: 1px solid black;
    width: 16%;
	font-family: "Century Gothic";
	font-variant: normal;
	font-weight: 700;
	font-size: 24px;
	background-color: #fcfcfc;
}

th {
	width: 16%;
	font-family: "Century Gothic";
	font-variant: normal;
	border: 1px solid black;
	color: white;
	background-color: black;
	cursor: pointer;
}

#sortButtons {
	border: 0px;
	margin: none;
	width: 33%;
	background-color: transparent;
	cursor: normal;
}

a {
	margin: auto;
}

body {
	background-image: url(bg.jpg);
	background-size: cover;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#tips {
	font-family: "Century Gothic";
	font-variant: normal;
	font-weight: 700;
	font-size: 24px;
	background-color: #fcfcfc;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
	text-align: center;
}